<h1>Hi kanwar! this is angular-router app</h1>
<nav>
  <ul>
      <li>
          <a routerLink="/">Home</a>
      </li>
      <li>
          <a routerLink="/about">About</a>
      </li>
      <li>
          <a routerLink="/links">Links</a>
      </li>
      <li>
        Resume
        <ul>
            <li *ngFor="let job of jobs">
                <a routerLink="/resume/{{job.id}}">{{job.title}}</a>
            </li>
        </ul>
    </li>
      <li>
          <a routerLink="/info">info</a>
      </li>
  </ul>
</nav>
<router-outlet></router-outlet>